@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* app styles */
.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
nav {
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul {
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
